# AWS credentials for reading the e-commerce dataset from S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_REGION=us-east-1

# S3 dataset path
S3_BUCKET=pdm-project-e-commerce-dataset
S3_PREFIX=data

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9093
KAFKA_TOPIC=ecommerce-orders

# MongoDB
MONGO_URI=mongodb://mongo:27017
MONGO_DATABASE=ecommerce
